<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> 
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Document</title>
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li><a href="#Home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="#" onclick="window.location.href='/login'; return false;">Login</a>
            </li>
        </ul>
        <div class="nav-search">
            <input type="text" placeholder="Search">
            <button class="nav-sm-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </nav>
    <header class="main-heading">
        <h1>EduBridge: Connecting Students with Experts for Project Mentorship</h1>
        <img src="/images/homebg.png" alt="background-image" class="guided-image">
    </header>
    <div class="homepage-highlight">
        <h2>Find the Right Mentor, Build Your Future!</h2>
        <h2>Showcase Your Projects and Get Expert Guidance</h2>
    </div>    
</body>
</html>