<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-page">

<div class="login-form">
    <h2>Reset Password</h2>
    <form action="/mentee_reset_password" method="post">
        <input type="email" name="email" placeholder="Enter your registered email" required>
        <input type="password" name="new_password" placeholder="Enter new password" required>
        <button type="submit">Reset Password</button>
    </form>
</div>

</body>
</html>
